body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #24527a;
  text-align: left;
  background-color: #edf8f8;
}

a {
  text-decoration: none;
  color: #5dacbd;
  transition: ease-in-out 200ms;
}

a:hover {
  color: #24527a;
}

.icon {
  max-height: 70px;
}

.App {
  max-width: 800px;
  margin: 60px auto;
}

.Weather {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  padding: 40px;
  color: #878787;
}

.Weather .logo {
  max-width: 150 px;
  display: block;
}

.Weather form {
  margin-top: 30px;
  border-bottom: 1px solid #e0ebeb;
  padding-bottom: 30px;
}

.Weather .btn {
  background: #5dacbd;
  font-weight: 700;
  font-size: 16px;
  padding: 15px 0;
  border: none;
  height: 50px;
}

.weather-info {
  margin-top: 20px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-weight: 500;
  margin-bottom: 5px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}
.Weather li strong {
  color: #5dacbd;
  font-weight: 400;
}

.Weather .search-input {
  background: #edf8f8;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  height: 50px;
  line-height: 20px;
}

.Weather h1 {
  margin: 20px 0 10px;
  line-height: 29px;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  color: #24527a;
}

.Weather .temperature {
  color: #24527a;
  font-weight: 400;
  margin-left: 10px;
  font-weight: 700;
  font-size: 80px;
  line-height: 1;
}

.Weather .unit {
  color: #212121;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -40px;
}

.p-0 {
  padding: 0 !important;
}

.weather-info .temperature-container {
  margin-top: 30px;
}
.Weather canvas {
  margin: 10px 0;
}

.WeatherForecast {
  text-align: center;
  margin: 40px 0;
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 50px;
}
.WeatherForecast .forecast-time {
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-weight: bold;
}
.Weather .WeatherForecast canvas {
  display: block;
  margin: 20 px auto;
}
.WeatherForecast .forecast-temperature {
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
  color: #5dacbd;
  font-weight: 700;
}
.WeatherForecast .forecast-temperature-min {
  margin-left: 10 px;
  opacity: 0.6;
}
.Weather footer {
  font-size: 14px;
  margin-top: 40 px;
  line-height: 18px;
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
}

#celcius,
#fahrenheit {
  color: #24527a;
  transition: ease-in-out 200ms;
}

.active:hover {
  color: #24527a;
  cursor: default;
}

#celcius:hover,
#fahrenheit:hover {
  color: #5dacbd;
}

.form-control:focus {
  background: #edf8f8;
}

.forecast-icon {
  margin: 15px;
}

#locate-me,
#hidden-message {
  position: relative;
  font-size: 18px;
  bottom: -22px;
}

#hidden-message {
  text-align: right;
  color: #5dacbd;
  bottom: -41px;
}

#description {
  text-transform: capitalize;
}

#footer-icon {
  position: relative;
  top: -11px;
  left: -5px;
  max-height: 40px;
}
